 body {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  padding: 0;
}
.title{
  color: white;
  text-align:center;
  font-family: helvetica;
  margin-top:28px;
  
  }

.container{
  display: flex;
  flex-direction: column;
  width:800px;
  height: auto;
  border:49px;
  border-radius:14px;
  align-items: center;
  position: sticky;
  margin: auto;
  margin-top: 2em;
  padding:6px,6px;
  background-color: gray;
  box-shadow: 4px;
  
  
  }

#userName{
  color: whitesmoke;
  text-align:center;
  font-family: helvetica;
  font-size: 35px;
  padding-top:6px;
  
  }

  #password{
    color: whitesmoke;
    text-align:center;
    font-family: helvetica;
    font-size: 35px;
    padding-top:6px;
    
    }

p{
  color: whitesmoke;
  text-align:center;
  font-family: helvetica;
  font-size: 23px;
  margin-bottom: 18px;
}

.username-button{
  padding: 8px;
  margin: 17px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  font-family: helvetica;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 40px;
  box-shadow: 8px;
  text-align: center;
  align-items: center;
  
 

 
 
}

.username-button:hover{
  background-color: darkblue;
}


.footer{
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkblue;
   position: fixed;
  
   

}